<!DOCTYPE html>
<html>
{{ partial "head" . }}
<body>
  {{ partial "header" . }}
  <article class="page">
    <div class="content">
      <h1>
        {{ .Title | markdownify }}
        {{ with .Params.subtitle }}<br/><small>{{ . }}</small>{{ end }}
      </h1>

      {{ .Content }}
      <div class="article-footer">
        <a class="button" href="https://gitlab.com/codingdojo-org/codingdojo.org/-/edit/master/content/{{ .File.Path }} ">Edit</a>
      </div>
    </div>
  </article>
  {{ partial "footer" . }}
</body>
</html>
