<header class="main-header">
  <h1><a href= />Coding Dojo</a></h1>
  <nav class="main-header__nav main-nav">
    <ul class="main-nav__list">
      {{- $currentPage := . -}}
      {{ range .Site.Menus.main -}}
      <li class="main-nav__item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)}} main-nav__item--active{{ end }}">
        <a href="{{ .URL | absLangURL }}" class="main-nav__link">
          {{ cond (eq (.Name) "Dojoes") "Dojos" .Name | strings.FirstUpper}}
        </a>
      </li>
      {{- end }}
    </ul>
  </nav>
</header>

<div class="top-right-corner ribbon gradient">
  <div class="seams">
    <a class="" href="https://gitlab.com/codingdojo-org" title="View on Gitlab">
      Edit on Gitlab
    </a>
  </div>
</div>
